<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Map</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/crystal" type="text/css"/>

</head>
<header class="titleFont" style="font-family:'crystal'">MEDIA MAP</header>

<body>
    <br />
    {{{body}}}
    <br />

</body>

<script src="/script.js"></script>

</html>