<div style="text-align:center">
  <button class="trigger">Login or Create an account</button>
  <div class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <button class="loginButton" onclick="showLogin()">Login</button>
      <button class="signUpButton" onclick="showSignUp()">Sign Up</button>
    </div>
  </div>
</div>
{{!-- <div class="card">
  <div class="header2">
    <h1 class="temp" style="color:black">Search for a Movie and we'll find where you can stream it<span
        style="color:rgb(1, 19, 119)"> for FREE!</span></h1>
    <container class="search">
      <input type="input" class="searchBar" id="searchBar" placeholder="Enter a Movie Title">
      <button type="button" class="mainBtn" id="searchInput">Search</button>
    </container>
    <h2 class="cityName"></h2>
    <div class="movieCard" style="width: 15rem;">
      <div> <!-- Cards for Thumbnails to recommended movies -->
        <div class="recommendation">Featured Free Flix: <span id="description" style="font-size:larger"></span>
        </div>
        <div class="row">
          <div class="card" style="width: 4rem;">
            <div class="card-body">
              <div class="card-text">
                <card class="feature1">Feature 1. <span id="feature1"></span></card>
              </div>
            </div>
          </div>
          <div class="card" style="width: 4rem;">
            <div class="card-body">
              <div class="card-text">
                <card class="feature2">Feature 2. <span id="feature2"></span></card>
              </div>
            </div>
          </div>
          <div class="card" style="width: 4rem;">
            <div class="card-body">
              <div class="card-text">
                <card class="feature3">Feature 3. <span id="feature3"></span></card>
              </div>
            </div>
          </div>
          <div class="card" style="width: 4rem;">
            <div class="card-body">
              <div class="card-text">
                <card class="feature4">Feature 4. <span id="feature4"></span></card>
              </div>
            </div>
          </div>
          <div class="card" style="width: 4rem;">
            <div class="card-body">
              <div class="card-text">
                <card class="feature5">Feature 5. <span id="feature5"></span></card>
              </div>
            </div>
          </div>
          <div class="card" style="width: 4rem;">
            <div class="card-body">
              <div class="card-text">
                <card class="feature6">Feature 6. <span id="feature6"></span></card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}



<!--Login Modal-->
<div class="Login-Modal hidden">
  <div id="Login Modal" class="loginModal">
    <form class="modal-content" id="login_form">
      <span class="login-close-button">&times;</span>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" id="login-username" required>
      <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="login-password" required>
      </div>

      <div id="login_errors"></div>

      <button type="Login" id="login-form-button" class="login-form-button">Login</button>
      <label>
        <div class="RemMe">
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </div>
      </label>
      <div>
        <label>
          <div class="NoAccount">Don't have an Account? Click <a href="#">Here</a> to Sign Up!
        </label>
      </div>
  </div>
  <div class="ForgotPsw">
    <span class="psw"> <a href="#">Forgot Password?</a></span>
  </div>
  </form>
</div>
</div>

<!--Sign Up Modal Section-->
<div class="signUp hidden">
  <div id="SignUp Modal" class="signUpModal">
    <form class="modal-content" id="signup_form">
      <span class="signup-close-button">&times;</span>
      <div>
        <label for="email"><b>Email</b></label>
        <input type="text" id="sign-up-email" name="email" placeholder="Enter Email address" required>
      </div>
      <div>
        <label for="Firstname"><b>First Name</b></label>
        <input type="text" placeholder="First Name" id="sign-up-first-name" name="Firstname" required>
      </div>
      <div>
        <label for="Lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" id="sign-up-last-name" name="Lastname" required>
      </div>
      <div>
        <label for="uname"><b>Create a Username</b></label>
        <input type="text" placeholder="Create Username" name="uname" id="sign-up-username" required>
      </div>
      <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="sign-up-password" required>
      </div>

      <div id="signup_errors"></div>

      <div class="signUpBtn">
        <button type="Signup" id="signup-form-button" class="signup-form-button">Sign Up</button>
      </div>
      <label>
        <div class="RemMe">
          <input type="checkbox" checked="checked" name="remember"> Remember me for future visits.
        </div>
      </label>
    </form>
  </div>
</div>

<div style="text-align:center">
  <div class="resultsModal hidden">
    <div class="resultsModalInner">
      <div class="results-modal-content">
        <span class="close-button">&times;</span>
        <h2>Here is a list of platforms on which you can stream that:</h2>
        <h1 style="padding: 10px; border: 2px solid red box-shadow: 2px 2px 7px 1px #FF0000;">MOVIE TITLE GOES HERE</h1>
        <textbox>movie description goes here</textbox>
        <list>1. result
          2. result
          3. result
          4. result
          5. result
        </list>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div>
    <h1 class="search-title" style="text-align: center;">Search for a movie and we'll show you all about it!</h1>
    <container class="search">
      <input type="input" class="searchBar" id="searchBar" placeholder="Enter a Movie Title">
      <button type="button" class="mainBtn" id="searchInput">Search</button>
    </container>
    <div>
      <h2 class="prompt hidden" style="text-align: center;">Login to <span style="color: rgb(165, 6, 6)">MEDIA
          MAP</span> to view the platforms on which you can stream <span class="movieName"
          style="color: darkcyan">"Insert Movie Name"</span>.</h2>
    </div>
  </div>
  <div id="search-results"></div>

  <div id="results-container" style="display: none";>
    <div id="result-card-1">
      <h3 id="movie-title">Movie Title</h3>
      <p id="movie-description"></p>
    </div>

  </div>
</div>

<!-- <script src = "/script.js" ></script> -->

<script>

    document.getElementById("login_form").addEventListener("submit", (event) => {
      event.preventDefault();

      const username = document.getElementById("login-username").value;
      const password = document.getElementById("login-password").value;

      console.log(username, password)

      document.getElementById("login_errors").textContent = "";

      fetch("/api/user/login", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          username,
          password,
        }),
      }).then((result) => {
        if (!result.ok) {
          document.getElementById("login_errors").textContent = "Error: Unable to login";

        } else {
          window.location.replace('/Profile')
        }
      })

    });

  document.getElementById("signup_form").addEventListener("submit", (event) => {
    event.preventDefault();

    const username = document.getElementById("sign-up-username").value;
    const password = document.getElementById("sign-up-password").value;
    const firstname = document.getElementById("sign-up-first-name").value;
    const lastname = document.getElementById("sign-up-last-name").value;
    const email = document.getElementById("sign-up-email").value;
    let movieName = document.querySelector("movieName");

    console.log(username, password)

    document.getElementById("signup_errors").textContent = "";

    fetch("/api/user/signup", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        username,
        password,
        firstname,
        lastname,
        email,
      }),
    }).then((result) => {
      if (!result.ok) {
        document.getElementById("signup_errors").textContent = "Error: Username is already taken";
        return null;
      } else {
        window.location.replace('/Profile');
      }
    })

  });

    document.getElementById("searchInput").addEventListener("click", () => {
        let prompt = document.querySelector(".prompt");
        prompt.classList.remove("hidden");
        clearcontent();
        function clearcontent() {
            document.getElementById("search-results").innerHTML = "";
        }
        const queryText = document.getElementById("searchBar").value;

        fetch("/search?searchQuery=" + queryText).then((result) => {
            return result.json();
        }).then((data) => {
            //console logs the data from the search
            console.log(data);

            //console logs the results  
            console.log(data.results);

            //Gets the individual titles, release date, ratings, and overview for the movies, can pull out the information from the array here

            for (result of data.results.slice(0, 1)) {
                const card = document.createElement('div');
                const searchResults = document.getElementById("search-results");
                card.classList.add('card');
                searchResults.appendChild(card);

                const poster = document.createElement('img');
                poster.src = "https://image.tmdb.org/t/p/original/" + result.poster_path;
                poster.alt = result.title;
                poster.classList.add('card-image');
                card.appendChild(poster);

                const info = document.createElement('div');
                info.classList.add('card-info');
                card.appendChild(info);

                // poster, title, rating, releaseDate, overview

                const name = result.title;
                document.querySelector(".movieName").innerText = name;

                const title = document.createElement('h3');
                title.classList.add('card-title');
                title.textContent = result.title;
                info.appendChild(title);


                const rating = document.createElement('div');
                rating.classList.add('card-rating');
                rating.textContent = `Rating: ${result.vote_average}`;
                info.appendChild(rating);

                const releaseDate = document.createElement('div');
                releaseDate.classList.add('release-date');
                releaseDate.textContent = `Released On: ${result.release_date}`;
                info.appendChild(releaseDate);

                const overview = document.createElement('div');
                overview.classList.add('overview');
                overview.textContent = result.overview;
                info.appendChild(overview);

      }
    });
  });
</script>
