/* Copied from Rays CSS stylesheet */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background: #222;
    background-image: url("https://source.unsplash.com/1600x900/?movie");
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (max-width: 700px) {
    .header {
        overflow: hidden;
        background-color: #fff;
        padding: 20px 150px;
        height: auto;
    }
}

.card {
    background-color: rgb(84, 85, 85, .8);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 61%;
    max-height: auto;
    margin: 1em;
    color: aliceblue;
}

/*@font-face {
    font-family: "crystal";
    src: url("https://fontlibrary.org//face/crystal") format("truetype");
}*/

.titleFont {
    font-weight: 700;
    color: rgb(165, 6, 6);
}

.search {
    display: flex;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    border-radius: 9px;
    border: none;
    height: 2em;
    width: 15em;
    background: #c4c3c3a7;
    color: aliceblue;
}

.mainBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em;
    border-radius: 9px;
    border: none;
    height: 2em;
    width: 10em;
    background-color: #c1c0c02b;
    color: aliceblue;
}

.mainBtn:hover {
    background-color: darkgray;
    cursor: pointer;
}

.row {
    display: flex;
}

.titleFont {
    font-size: 100px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 65%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 65%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 65%, #144E75 100%);
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.login-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.login-close-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.signup-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.signup-close-button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 9px;
    border-radius: 33px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
}

.trigger:hover {
    background: #1C6EA4;
    cursor: pointer;
}

.trigger:active {
    background: #144E75;
}

.loginButton {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 9px;
    border-radius: 33px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    margin: 10px;
}

.loginButton:hover {
    background: #1C6EA4;
    cursor: pointer;
}

.loginButton:active {
    background: #144E75;
}

.signUpButton {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 9px;
    border-radius: 33px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    margin: 10px;
}

.signUpButton:hover {
    background: #1C6EA4;
    cursor: pointer;
}

.signUpButton:active {
    background: #144E75;
}

/*Login Modal Pop-over Section*/
.Login-Modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: visibility 0s linear 0s, opacity 0s 0s, transform 0s;
}

.hidden {
    visibility: hidden;
}

.ForgotPsw {
    text-align: center;
    font-size: large;
}

.RemMe {
    text-align: center;
}

.input {
    position: flex;
}

/*Sign Up Modal Pop-Over Section*/
.signUp {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: scale(1.1);
    transition: visibility 0s linear 0s, opacity 0s 0s, transform 0s;
}

.NoAccount {
    text-align: center;
}

.invalid {
    font-size: medium;
}

.signUpBtn {
    text-align: center;
}

.login-form-button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 9px;
    border-radius: 33px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    margin: 10px;
}

.login-form-button:hover {
    background: #1C6EA4;
    cursor: pointer;
}

.login-form-button:active {
    background: #144E75;
}

.signup-form-button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 18px;
    padding: 9px;
    border-radius: 33px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    margin: 10px;
}

.signup-form-button:hover {
    background: #1C6EA4;
    cursor: pointer;
}

.signup-form-button:active {
    background: #144E75;
}

.resultsModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.search-title {
    font-family: 'Georgia, serif';

}

#search-results {
    display: flex;
    flex-wrap: wrap;
}

.card-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 200px;

}



.favorite-button {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    background: none;
    border: none;
    float: right;
  }
  
  .favorite-button::before, .favorite-button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: var(--favorite-color,white);
    
  }
  
  .favorite-button::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .favorite-button::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  .favorite-button:hover::before, .favorite-button:hover::after {
   
    background: rgb(228, 29, 29);
    
  }

  .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
  }

  .favorites-card{
    align-items: center;
  }